* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c20404;
    z-index: 1000;
}
.lista-navbar {
    list-style: none;
    display: flex;
    justify-content: center;
}
.navbar {
    max-width: 1200px;
    margin: auto; }
    .menu-list {
    list-style: none;
    display: flex;
    justify-content: center;}

    .menu-item {
    margin: 0 15px;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    font-family: sans-serif;
    text-transform: uppercase;
}

.menu-link:hover {
    background-color: #555;
}
.section {
    padding: 80px 20px;
    min-height: 100vh;
    min-width: 100vh;
}
.inicio {
   /* background-color:#b4b3ae;*/
background-image: url(auto\ f1.jpg);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
justify-content: center;
align-items: center;    

}

.titulo-inicio {
justify-content: center;
padding: 10px 20px;
font-family: sans-serif ;
display: flex;
/* color: #333; */
background-color: #555;
color: white;
font-weight: 900;
font-size: 2rem;
text-transform: uppercase;
letter-spacing: 1px;
line-height: 1.2;
}


.subtitulo-inicio {
    text-align: center;
    padding-top:  0;
    padding-bottom: 40px;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: white;
    /*color: #333;*/ 
    font-weight: 700;
    line-height: 1.2;
}

img{
  width: 40%;
    height: 40%;
}
.imagen-f1
{
    width:(100%);
    height: 400px;
    object-fit: cover;
    display: block;
}
.logos-f1{
    display: flex;
    gap: 260PX;
    flex-wrap: wrap;
 
}
.logos-f1 {
width: 100%;
padding: 1rem;

@media screen and (min-width: 768px) {
    .logos-f1 {
        width: 50%;
        padding: 2rem;
    }
}
}
.parrafo-inicio {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ce0606;
    color: aliceblue;
    text-align: center;
text-decoration: double;
}

/*seccion sobre mi */

.sobre-mi {
    background-color: #aaa9a1;
    max-height: 100vh;


    
}

.mi-nombre {
    text-transform: uppercase;
    font-weight: bold;
    font-size: larger;
    color: #fdfdfd;
    text-align: center;
    justify-content: center ;
    padding: 20px;
    
    background-color: #555;

}
.imagen-mia-contenedor {
    
    text-align: center;
    height:auto;

}
.imagen-mia {
    margin: 40px;
    max-width: 50vh;
    max-height: 50vh;
}
.mi-descripcion {
    text-align: center;
    justify-content: center;
font-weight: 500;
font-family: sans-serif;
font-size: 1.5rem;
margin: 20px;
padding-top: 20px;
;
}

/* seccion informacion basica */
.info-basica {
 background-color: #f9f9f9;

}


.titulo-info-basica {
justify-content: center;
text-align: center;
padding: 10x 80px;
font-family: sans-serif ;
display: flex;
/* color: #333; */

color: rgb(56, 54, 54);
font-weight: 900;
font-size: 2rem;
text-transform: uppercase;
letter-spacing: 1px;
line-height: 1.2;
text-decoration: underline;
}

.subtitulo-info-basica {
    font-size: 1.5rem;
    padding-top: 50px;
    padding-bottom: 30px;

    
}

.lista-info-basica {

    font-family: "roboto" sans-serif;
    font-weight: 600;
    font-size: 20px;
    border-left:#e10600 solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    line-height: 1.6;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    height: 50vh;
    
    
}

/* seccion circuitos */

.circuitos {
  background-image: url(foto\ circuito.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 20px; /* espacio arriba y abajoe */
  color: white; /* o un color que contraste */

}

.titulo-circuitos {

    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}
.flag {
    font-size: 20px;
    color: initial;
}
.lista-circuitos {
    max-width: 100vh;
    font-size: 20px;
}